/* Division Section */

.division-section {
    padding-top: 5em;
}

.title {
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.card {
    border: none;
    text-align: center;
    justify-content: center;
}

.card-img {
    width: 240px;
    height: 240px;
    object-fit: cover;
    border-radius: 100%;
}

.staff-img {
    width: 200px;
    height: 200px;
}

@media screen and (max-width: 768px) {
    .card-img {
        width: 200px;
        height: 200px;
    }
}

.card-title {
    font-weight: bold;
    font-size: 1.25em;
    background-color: var(--dark-grey);
    color: var(--whitty);
    border-radius: 10px;
}

.card-subtitle {
    max-width: 160px;
    margin: auto;
    font-weight: 600;
}

/* Footer Section */

.contact-section {
    padding: 2.75em;
    background-color: #A5A5A5;
    font-family: 'Poppins', sans-serif;
}

.contact-section div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-section img {
    width: 2em;
    height: auto;
}

.contact-section p {
    display: inline-block;
    font-size: 1.25em;
    margin: 0 0 0 10px;
    font-weight: 500;
}

.footer-section {
    background-color: var(--dark-grey);
    padding: 1.25em;
}

.footer-text {
    font-size: 1.5em;
    font-weight: 600;
    margin: 0;
    text-align: center;
    color: #F2F2F2;
}
