@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;900&family=PT+Serif:ital,wght@1,700&family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --eerie-black: #131313;
  --dark-grey: #595959;
  --sky-blue: #e3f6f5;
  --whitty: #fefefe;
}

.page-enter {
  opacity: 0.01;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 300ms ease-in;
}

.page-exit {
  opacity: 1;
  transform: translateX(0%);
}

.page-exit-active {
  opacity: 0.01;
  transform: translateX(100%);
  transition: all 300ms ease-out;
}
